.Makefile.in.swp
.README.swp
.deps/
.libs/
.logs.txt.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
configure
depcomp
groups.lo
groups.o
install-sh
libnss_sqlite.la
libtool
logs.txt
ltmain.sh
missing
passwd.lo
passwd.o
shadow.lo
shadow.o
stamp-h1
utils.lo
utils.o
.*.sw*
